In [2]:
var x = 5
var y = 8
print(x+y)

13

x: Int = 5
y: Int = 8

In [3]:
val dataframe = spark.read.json("/home/ubuntu/jupyter-notebooks/person.json")
dataframe.show(2)

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
+----+-------+
only showing top 2 rows

dataframe: org.apache.spark.sql.DataFrame = [age: bigint, name: string]

In [2]:
val dataframe = spark.read.json("/home/ubuntu/jupyter-notebooks/person.json")
dataframe.filter("age > 25").select("age", "name").show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+

dataframe: org.apache.spark.sql.DataFrame = [age: bigint, name: string]

In [4]:
val dataframe = spark.read.json("/home/ubuntu/jupyter-notebooks/person.json")
dataframe.createOrReplaceTempView("persons")
spark.sql("select * from persons").select("name", "age").show()

+-------+----+
|   name| age|
+-------+----+
|Michael|null|
|   Andy|  30|
| Justin|  19|
+-------+----+

dataframe: org.apache.spark.sql.DataFrame = [age: bigint, name: string]